<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="validate" instance="Alhayat\DimensionImageAttribute\Observer\ProductSaveAfter" />
    </event>
    <event name="catalog_product_gallery_prepare_layout">
        <observer name="change_template" disabled="true"/>
        <observer name="custom_change_template" instance="Alhayat\DimensionImageAttribute\Observer\ChangeTemplateObserver" />
    </event>
</config>


